.grid-layout-wrapper {
  border: 1px solid var(--color-primary-9);
  background-color: var(--color-primary-2);
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  margin-bottom: 55px;
}

.grid-layout-container {
  position: relative;
  background-color: var(--color-primary-2);
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.grid-layout-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: auto;
}

.grid-layout-background__cell {
  border-radius: 6px;
  border: 1px solid var(--color-primary-9);
  background-color: var(--color-primary-3);
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color 0.2s;
  z-index: 999999 !important;
}

.grid-layout-background__cell:hover {
  background-color: var(--color-secondary-hover);
  border-color: var(--color-secondary);
  z-index: 5;
}

.grid-layout-background__cell:active {
  background-color: rgba(79, 195, 247, 0.2);
  z-index: 5;
}

.grid-layout {
  position: relative;
  z-index: 1;
  min-height: 100%;
  pointer-events: auto;
  z-index: 10 !important;
}

.grid-layout__item {
  background: var(--color-secondary);
  border-radius: 6px;
  transition: all 0.1s ease;
  overflow: hidden;
  pointer-events: auto;
  z-index: 10;
  cursor: grab;
}

.grid-layout__item:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  border-color: var(--color-secondary-4);
}

.grid-layout__item-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  color: var(--color-primary-14);
  text-align: center;
  user-select: none;
}

.react-grid-placeholder {
  background-color: var(--color-primary-11) !important;
  border-radius: 8px;
  transition: all 0.2s ease !important;
  opacity: 0.7 !important;
}

.grid-layout__item-remove {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 24px;
  height: 24px;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
  opacity: 0;
  transition: opacity 0.2s, background-color 0.2s;
  z-index: 20;
  color: #f44336;
}

.grid-layout__item:hover .grid-layout__item-remove {
  opacity: 1;
}

.grid-layout__item-remove:hover {
  background-color: rgba(255, 255, 255, 0.95);
}

.grid-layout__item-remove svg {
  width: 16px;
  height: 16px;
}
