.hero-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 75px;
}

.title {
  display: block;
  font-size: 102px;
  font-weight: 700;
  color: var(--color-text);
  z-index: 999999;
  line-height: 0.5;
  margin: 50px 0 20px 0;
}

.subtitle {
  max-width: 550px;
  display: block;
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 24px;
  font-weight: 700;
  color: var(--color-text-secondary);
  text-align: center;
  z-index: 999999;
}
