.app-container {
  max-width: 100dvw;
  width: 100%;
  margin: 0 auto;
  padding: 30px;
  overflow: hidden;
  position: relative;
}

@media (min-width: 768px) {
  .main-container {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
  }
}
